/* Custom CSS for my projects pages. */

.table-row {
    display: table-row;
}
.table-row > * {
    display: table-cell;
    padding:0.75em;
    vertical-align:top;
}
.table-row > img {
    height:4em;
    width: auto;
}
